<%= provide :page_header do %>
  <h1><span class="fa fa-user" aria-hidden="true"></span>New user</h1>
<% end %>

<div class="card">
  <div class="card-body">
    <%= simple_form_for(:users, url: admin_users_path) do |f| %>
      <%= f.input :uid, label: "UID", autofocus: true, placeholder: "e.g. jane.doe@unb.ca or john.smith@stu.ca" %>
      <%= f.submit "Create user", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>